*.dep
*.ewt
bootloader/Project/IAR/Debug
bootloader/Project/IAR/MSP430F5529
bootloader/Project/IAR/MSP430F5529Debug
bootloader/Project/IAR/MSP430F5438A
bootloader/Project/IAR/MSP430F5438ADebug
bootloader/Project/IAR/settings
bootloader/Project/IAR/path.txt